@charset "UTF-8";
:root{
  --grayish_LtGray_S50:#535252;
  --grayish_LtGray_T70:#E4E4E3;
  --card_Width_PC:320px;
  --card_Width_SP:220px;
}
:where(.front-top-page.skin-grayish, .column1, .content-top, .content-bottom) .cstm-infinite-loop-swiper .cstm-infinite-loop.swiper,
:where(.front-top-page.skin-grayish, .column1, .content-top, .content-bottom) .cstm-infinite-loop-swiper.cstm-infinite-loop.swiper{
  overflow:visible;
}
.cstm-infinite-loop-swiper .cstm-infinite-loop.swiper-free-mode>.swiper-wrapper,
.cstm-infinite-loop-swiper.cstm-infinite-loop.swiper-free-mode>.swiper-wrapper{
  transition-timing-function:linear;
}

.cstm-infinite-loop-swiper :where(.is-list-horizontal, .cstm-infinite-loop) .swiper-button-next,
.cstm-infinite-loop-swiper :where(.is-list-horizontal, .cstm-infinite-loop) .swiper-button-prev,
.cstm-infinite-loop-swiper:where(.is-list-horizontal, .cstm-infinite-loop) .swiper-button-next,
.cstm-infinite-loop-swiper:where(.is-list-horizontal, .cstm-infinite-loop) .swiper-button-prev{
  display:none;
}

@media (any-hover: hover){

  .cstm-infinite-loop-swiper .cstm-infinite-loop.swiper:hover .widget-entry-card:not(:hover),
  .cstm-infinite-loop-swiper.cstm-infinite-loop.swiper:hover .widget-entry-card:not(:hover),
  .cstm-normal-loop-swiper .cstm-normal-loop.swiper .swiper-wrapper:hover .widget-entry-card:not(:hover),
  .cstm-normal-loop-swiper.cstm-normal-loop.swiper .swiper-wrapper:hover .widget-entry-card:not(:hover){
    opacity:0.5;
  }
}

.cstm-infinite-loop-swiper .cstm-infinite-loop .widget-entry-card-link,
.cstm-infinite-loop-swiper.cstm-infinite-loop .widget-entry-card-link{
  max-width:var(--card_Width_PC);
  height:auto;
}

:is(.cstm-infinite-loop, .cstm-normal-loop) .new-entry-card.widget-entry-card .cat-label,
:is(.cstm-infinite-loop, .cstm-normal-loop) .popular-entry-card.widget-entry-card .cat-label{
  display:block;
}
:is(.cstm-infinite-loop, .cstm-normal-loop).card-large-image .new-entry-card.widget-entry-card,
:is(.cstm-infinite-loop, .cstm-normal-loop).card-large-image .popular-entry-card.widget-entry-card{
  display:flex;
  flex-direction:column;
  height:100%;
}

:is(.cstm-infinite-loop, .cstm-normal-loop) .new-entry-card-thumb.widget-entry-card-thumb,
:is(.cstm-infinite-loop, .cstm-normal-loop) .popular-entry-card-thumb.widget-entry-card-thumb{
  margin:0;
  flex-shrink:0;
}

:is(.cstm-infinite-loop, .cstm-normal-loop) .new-entry-card-content,
:is(.cstm-infinite-loop, .cstm-normal-loop) .popular-entry-card-content{
  display:flex;
  flex-direction:column;
  align-items:stretch;
  gap:8px;
  height:100%;
}

:is(.cstm-infinite-loop, .cstm-normal-loop) .new-entry-card-title.widget-entry-card-title.card-title,
:is(.cstm-infinite-loop, .cstm-normal-loop) .popular-entry-card-title.widget-entry-card-title.card-title{
  -webkit-line-clamp:unset;
  height:auto;
  display:block;
  overflow:visible;
}
:is(.cstm-infinite-loop, .cstm-normal-loop) .new-entry-card-date,
:is(.cstm-infinite-loop, .cstm-normal-loop) .popular-entry-card-date{
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-end;
  align-items:center;
  font-size:.7em;
  color:var(--skin-grayish-site-sub-color);
  margin-top:auto;
}

:is(.cstm-infinite-loop, .cstm-normal-loop) .new-entry-card-post-date.widget-entry-card-post-date.post-date,
:is(.cstm-infinite-loop, .cstm-normal-loop) .new-entry-card-update-date.widget-entry-card-update-date.post-update,
:is(.cstm-infinite-loop, .cstm-normal-loop) .popular-entry-card-post-date.widget-entry-card-post-date.post-date,
:is(.cstm-infinite-loop, .cstm-normal-loop) .popular-entry-card-update-date.widget-entry-card-update-date.post-update{
  font-family:"Font Awesome 5 Free";
  font-weight:400;
  position:relative;
}


:is(.cstm-infinite-loop, .cstm-normal-loop) .new-entry-card-post-date.widget-entry-card-post-date.post-date::before,
:is(.cstm-infinite-loop, .cstm-normal-loop) .new-entry-card-update-date.widget-entry-card-update-date.post-update::before,
:is(.cstm-infinite-loop, .cstm-normal-loop) .popular-entry-card-post-date.widget-entry-card-post-date.post-date::before,
:is(.cstm-infinite-loop, .cstm-normal-loop) .popular-entry-card-update-date.widget-entry-card-update-date.post-update::before{
  display:inline-block;
  content:"\f017";
  background-repeat:no-repeat;
  background-size:cover;
  width:-moz-fit-content;
  width:fit-content;
  height:auto;
  margin-right:3px;
}

:is(.cstm-infinite-loop, .cstm-normal-loop) .new-entry-card-update-date.widget-entry-card-update-date.post-update::before,
:is(.cstm-infinite-loop, .cstm-normal-loop) .popular-entry-card-update-date.widget-entry-card-update-date.post-update::before{
  font-weight:900;
  content:"\f1da";
}
.cstm-normal-loop-swiper .cstm-normal-loop .swiper-button-next,
.cstm-normal-loop-swiper .cstm-normal-loop .swiper-button-prev,
.cstm-normal-loop-swiper.cstm-normal-loop .swiper-button-next,
.cstm-normal-loop-swiper.cstm-normal-loop .swiper-button-prev{
  display:none;
  color:transparent;
}


.cstm-normal-loop-swiper .cstm-normal-loop .swiper-button-next[data-btnon=true],
.cstm-normal-loop-swiper .cstm-normal-loop .swiper-button-prev[data-btnon=true],
.cstm-normal-loop-swiper.cstm-normal-loop .swiper-button-next[data-btnon=true],
.cstm-normal-loop-swiper.cstm-normal-loop .swiper-button-prev[data-btnon=true]{
  display:flex;
  color:var(--grayish_LtGray_S50);
}

.cstm-normal-loop-swiper .cstm-normal-loop.swiper,
.cstm-normal-loop-swiper.cstm-normal-loop.swiper{
  display:grid;
  gap:1em;
  grid-template-columns:100px 1fr 100px;
  grid-template-rows:auto;
  row-gap:1em;
  position:relative;
  width:100%;
}

:where(.front-top-page.skin-grayish, .column1, .content-top, .content-bottom) .cstm-normal-loop-swiper .cstm-normal-loop.swiper,
:where(.front-top-page.skin-grayish, .column1, .content-top, .content-bottom) .cstm-normal-loop-swiper.cstm-normal-loop.swiper{
  overflow:visible;
  width:80%;
}

.cstm-normal-loop-swiper .cstm-normal-loop.swiper .swiper-wrapper,
.cstm-normal-loop-swiper.cstm-normal-loop.swiper .swiper-wrapper{
  grid-row:1;
  width:100%;
  grid-column:1/4;
  justify-self:center;
}

.cstm-normal-loop-swiper .cstm-normal-loop .swiper-button-next,
.cstm-normal-loop-swiper .cstm-normal-loop .swiper-button-prev,
.cstm-normal-loop-swiper.cstm-normal-loop .swiper-button-next,
.cstm-normal-loop-swiper.cstm-normal-loop .swiper-button-prev{
  display:flex;
  grid-row:2;
}

.cstm-normal-loop-swiper .cstm-normal-loop.swiper .swiper-button-prev,
.cstm-normal-loop-swiper.cstm-normal-loop.swiper .swiper-button-prev{
  grid-column:1;
  justify-self:center;
}

.cstm-normal-loop-swiper .cstm-normal-loop.swiper .swiper-button-next,
.cstm-normal-loop-swiper.cstm-normal-loop.swiper .swiper-button-next{
  grid-column:3;
  justify-self:center;
}

.cstm-normal-loop-swiper .cstm-normal-loop.swiper .swiper-pagination,
.cstm-normal-loop-swiper.cstm-normal-loop.swiper .swiper-pagination{
  grid-row:2;
  grid-column:2;
  justify-self:center;
  align-self:center;
  position:relative;
}

.cstm-normal-loop-swiper .cstm-normal-loop.swiper.swiper-horizontal>.swiper-pagination-bullets,
.cstm-normal-loop-swiper .cstm-normal-loop.swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.cstm-normal-loop-swiper.cstm-normal-loop.swiper.swiper-horizontal>.swiper-pagination-bullets,
.cstm-normal-loop-swiper.cstm-normal-loop.swiper .swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom:0;
  left:0;
  width:100%;
}

.cstm-normal-loop-swiper .cstm-normal-loop.swiper.swiper-horizontal>.swiper-pagination-progressbar,
.cstm-normal-loop-swiper .cstm-normal-loop.swiper .swiper-pagination-progressbar.swiper-pagination-horizontal,
.cstm-normal-loop-swiper.cstm-normal-loop.swiper.swiper-horizontal>.swiper-pagination-progressbar,
.cstm-normal-loop-swiper.cstm-normal-loop.swiper .swiper-pagination-progressbar.swiper-pagination-horizontal{
  height:1px;
}

.cstm-normal-loop-swiper .cstm-normal-loop.swiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
.cstm-normal-loop-swiper.cstm-normal-loop.swiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background:var(--grayish_LtGray_S50);
}

.cstm-normal-loop-swiper .cstm-normal-loop.swiper .swiper-pagination-progressbar,
.cstm-normal-loop-swiper.cstm-normal-loop.swiper .swiper-pagination-progressbar{
  background:var(--grayish_LtGray_T70);
}

.cstm-normal-loop-swiper .cstm-normal-loop .swiper-button-next,
.cstm-normal-loop-swiper .cstm-normal-loop .swiper-button-prev,
.cstm-normal-loop-swiper.cstm-normal-loop .swiper-button-next,
.cstm-normal-loop-swiper.cstm-normal-loop .swiper-button-prev{
  color:transparent;
  background-color:unset;
  border-radius:50%;
  top:unset !important;
  bottom:unset !important;
  left:unset !important;
  right:unset !important;
  margin:0 !important;
  position:relative;
  height:50px;
  width:50px;
  z-index:1;
  transition:var(--transition);
  box-shadow:unset;
}

.cstm-normal-loop-swiper .cstm-normal-loop .swiper-button-next:after,
.cstm-normal-loop-swiper .cstm-normal-loop .swiper-button-prev:after,
.cstm-normal-loop-swiper.cstm-normal-loop .swiper-button-next:after,
.cstm-normal-loop-swiper.cstm-normal-loop .swiper-button-prev:after{
  font-family:swiper-icons;
  text-transform:none !important;
  letter-spacing:0;
  font-variant:initial;
  line-height:1;
  font-size:20px !important;
}

@media (any-hover: hover){

  .cstm-normal-loop-swiper .cstm-normal-loop .swiper-button-next:hover,
  .cstm-normal-loop-swiper .cstm-normal-loop .swiper-button-prev:hover,
  .cstm-normal-loop-swiper.cstm-normal-loop .swiper-button-next:hover,
  .cstm-normal-loop-swiper.cstm-normal-loop .swiper-button-prev:hover{
    scale:1.3;
  }
}


.cstm-normal-loop-swiper .cstm-normal-loop .widget-entry-card-link,
.cstm-normal-loop-swiper.cstm-normal-loop .widget-entry-card-link{
  max-width:var(--card_Width_PC);

}
.nwa .cstm-normal-loop-swiper .cstm-normal-loop.swiper,
.nwa .cstm-normal-loop-swiper.cstm-normal-loop.swiper{
  display:grid;
  gap:1em;
  grid-template-columns:40px 1fr 40px;
  grid-template-rows:auto;
  row-gap:1em;
  position:relative;
  width:100%;
  overflow:hidden;
}

.nwa .cstm-infinite-loop-swiper .cstm-infinite-loop.swiper,
.nwa .cstm-infinite-loop-swiper.cstm-infinite-loop.swiper{
  overflow:hidden;

}
:where(.cstm-normal-loop-swiper.popular-list-box, .cstm-infinite-loop-swiper.popular-list-box) .widget-entry-cards.ranking-visible .card-thumb::before,
:where(.cstm-normal-loop-swiper.popular-entry-cards, .cstm-infinite-loop-swiper.popular-entry-cards).widget-entry-cards.ranking-visible .card-thumb::before{
  display:none;
}
.cstm-infinite-loop-swiper:has(.widget-entry-cards.swiper),
.cstm-infinite-loop-swiper.widget-entry-cards.swiper,
.cstm-normal-loop-swiper:has(.widget-entry-cards.swiper),
.cstm-normal-loop-swiper.widget-entry-cards.swiper{
  opacity:0;
}

.cstm-infinite-loop-swiper:has(.is-init-after-post),
.cstm-infinite-loop-swiper.cstm-infinite-loop.swiper.is-init-after-post,
.cstm-normal-loop-swiper:has(.is-init-after-post),
.cstm-normal-loop-swiper.cstm-normal-loop.swiper.is-init-after-post{
  animation-name:postInit-fade-In;
  animation-fill-mode:forwards;
  animation-duration:1.5s;
  animation-timing-function:ease-in;
}

@keyframes postInit-fade-In{
  from{
    opacity:0;
  }

  100%{
    opacity:1;
  }
}
@media screen and (max-width: 1023px){

  .cstm-normal-loop-swiper .cstm-normal-loop.swiper,
  .cstm-normal-loop-swiper.cstm-normal-loop.swiper{
    grid-template-columns:50px 1fr 50px;
    width:100%;
  }

  .cstm-normal-loop-swiper .cstm-normal-loop.card-large-image .widget-entry-card-link,
  .cstm-infinite-loop-swiper .cstm-infinite-loop.card-large-image .widget-entry-card-link,
  .cstm-normal-loop-swiper.cstm-normal-loop.card-large-image .widget-entry-card-link,
  .cstm-infinite-loop-swiper.cstm-infinite-loop.card-large-image .widget-entry-card-link{
    max-width:var(--card_Width_SP);

  }


}